{% extends 'layout.html' %}
{% block title %}{% parent %}{% endblock %}
{% block head %}
	{% parent %}
	<!--link rel="stylesheet" href="css/custom.css"-->
{% endblock %}
{% block content %}
<div class="row">
    <div class="span8 offset4">
        <h1>Contact</h1>
        <strong>Five Crowns</strong> | <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=15646201110297392647&amp;q=Five+Crowns&amp;iwloc=A&amp;gl=US&amp;hl=en">3801 East Coast Hwy, 
    Corona del Mar, CA 92625</a>
		<form>
			<label>Name: <input type="text" name="name" /></label><br><label>E-mail: <input type="text" name="email" /></label><br>
			<input type="submit" />
		</form>
    </div>
</div>



{{ bar }}{{ foo }}
{% endblock %}
