<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!--link href='http://fonts.googleapis.com/css?family=Caudex|Josefin+Sans|Quando|Molengo|Metrophobic|Marvel|Pontano+Sans|Quattrocento|Quattrocento+Sans' rel='stylesheet' type='text/css'-->
	<title>{% block title %}StephanieAndGreg.us{% endblock %}</title>
	{% block head %}
	{% endblock %}
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<!--div id="loading" style="z-index:9999;opacity:0.75;width:100%;height:100%;position:absolute;top:0;left:0;background-color:black;">Loading...</div-->
<div class="container">
    <div class="masthead">
        <!--ul class="nav nav-pills pull-right">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li><a href="contact">Contact</a></li>
        </ul-->
    </div>
    <div class="hero-unit jumbotron text-center"><h1>we're getting married</h1>
        <h2>Stephanie &amp; Greg</h2><svg width="600px" height="50px" viewBox="0 0 600 50"><line x1="20" x2="600" y1="25" y2="25" stroke="gray" stroke-width="5" stroke-linecap="round" stroke-dasharray="1, 30"/></svg><br>
        <span class="muted">Saturday, April 26, 2014</span><br>
        <address class="muted">
        Five Crowns | 3801 East Coast Hwy, 
        Corona del Mar, CA 92625</address>
    
    
        <div class="row-fluid text-center">
            <div class="span2">
                <img src="../images/calendar.png"><br><span class="muted">RSVP HERE</span><br><br>
                <img src="../images/registry.png"><br><span class="muted">Gift Registry</span>
            </div>
            <div class="span8">
                {% block content %}{% endblock %}<br><br>
                <img src="../images/footer-image.png">
            </div>
            <div class="span2">
                <img src="../images/camera.png"><br><span class="muted">Engagement Photos</span><br><br>
                <img src="../images/mail.png"><br><span class="muted">Drop us a love note</span>
            </div>
        </div>
        <br><br>
        <div class="muted text-center">A Future Mr. and Mrs. Cochard Creation &copy; 2013 all rights reserved</div>
    </div>
</div>
<script data-main="js/app.js" src="components/requirejs/require.js"></script>
</body>
</html>
