{% extends 'layout.html' %}
{% block title %}{% parent %}{% endblock %}
{% block head %}
	{% parent %}
{% endblock %}
{% block content %}
		<p>
		Coming Soon...
		</p>
		<a rel="gallery" href="http://placekitten.com/400/600?image=0">
			<img src="http://placekitten.com/100/150?image=0">
		</a>
		<img src="http://placekitten.com/100/150?image=1">
		<img src="http://placekitten.com/100/150?image=2">
		<img src="http://placekitten.com/100/150?image=3">
		<img src="http://placekitten.com/100/150?image=4">

		<div class="alert alert-success {{thanksdiv}}">{{thanks}}</div>
		<div class="alert alert-error {{errordiv}}">{{error}}</div>


{% endblock %}
